<section id="container">
    <form>
        <label for="materias">Ciclo</label>
        <select id="ciclos">
            <option>Ciclo Básico Común</option>
            <option>Ciclo de Formacion General</option>
            <option>Ciclo de Formación Profesional</option>
        </select>

        <label for="año">Año</label>
        <input type="number">

        <label for="cuatrimestre">Cuatrimestre</label>
        <select id="cuatrimestre">
            <option>1</option>
            <option>2</option>
        </select>

        <label for="materias">Materia</label>
        <select id="materias">
        <input type="text">
        </select>

        <label for="catedra">Cátedra</label>
        <input type="text">

        <label for="nota">Nota</label>
        <input type="number">

        <br>

        <input type="submit" value="Agregar nueva materia">

    </form>
</section>